<h3>About Ministry Planner</h3>
<body style="background-color:aqua;">
    <p>
        The Ministrary Application allows for capturing data on churches, pastors, parishoners and visitors.  The main goal of the
        application is to assist pastors in tracking parishoners and visitors so that he/she may stay in direct contact with them.
    </p>
