
<h3>Contact Me</h3>
<body style="background-color:aqua;">
    <address>
        Eric Bella<br />
        17 East Regent St.<br />
        <abbr title="Phone">P:</abbr>
        463.123.4567
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:ericlbella@gmail.com.com">ericlbella@test.com</a><br />
    </address>
