@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:aqua;">

    <div class="jumbotron">
        <h1 style="text-align: center;">Ministry Planner</h1>
        <p style="text-align:center">Ministry Planner is a free application for keeping track of church, pastor, parishoner, and visitor information.</p>
        <center>
            <img src="~/Assetts/Cross.jpg" alt="Cross" />
        </center>
    </div>

